lanecwe-Prod/src/flows/Adding_Contacts_from_Lead-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Accounting_Finance</name>
        <choiceText>Accounting/Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting/Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_Finance_Department</name>
        <choiceText>Accounting/Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting/Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts_Payable</name>
        <choiceText>Accounts Payable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts Payable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Administration</name>
        <choiceText>Administration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Champion</name>
        <choiceText>Champion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Champion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultant</name>
        <choiceText>Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coordinator</name>
        <choiceText>Coordinator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coordinator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Service_Care_Support</name>
        <choiceText>Customer Service/Care/Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service/Care/Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>CXO</name>
        <choiceText>CXO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CXO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decision_Maker</name>
        <choiceText>Decision Maker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decision Maker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Director</name>
        <choiceText>Director</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Director</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gatekeeper</name>
        <choiceText>Gatekeeper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gatekeeper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Human_Resources</name>
        <choiceText>Human Resources</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Human Resources</stringValue>
        </value>
    </choices>
    <choices>
        <name>Human_Resources_Training</name>
        <choiceText>Human Resources/Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Human Resources/Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Influencer</name>
        <choiceText>Influencer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Influencer</stringValue>
        </value>
    </choices>
    <choices>
        <name>IT</name>
        <choiceText>IT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>IT_Telecommunications</name>
        <choiceText>IT/Telecommunications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT/Telecommunications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager</name>
        <choiceText>Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_PR_Communications</name>
        <choiceText>Marketing/PR/Communications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing/PR/Communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operations_department</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_department</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PGI_Sales</name>
        <choiceText>PGI Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PGI Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please_Select</name>
        <choiceText>--Please Select--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>President</name>
        <choiceText>President</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>President</stringValue>
        </value>
    </choices>
    <choices>
        <name>President_CEO</name>
        <choiceText>President/CEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>President/CEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procurement</name>
        <choiceText>Procurement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procurement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quality</name>
        <choiceText>Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Related_Account_Name2</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AccountName}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AccountName</elementReference>
        </value>
    </choices>
    <choices>
        <name>Sales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Marketing</name>
        <choiceText>Sales/Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales/Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Specialist</name>
        <choiceText>Specialist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specialist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vice_President</name>
        <choiceText>Vice President</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vice President</stringValue>
        </value>
    </choices>
    <choices>
        <name>WarehouseInventory</name>
        <choiceText>Warehouse/Inventory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warehouse/Inventory</stringValue>
        </value>
    </choices>
    <description>A VWF that is intended to allow users to add contacts to both the lead and its related account.  We&apos;ll see if this works.</description>
    <dynamicChoiceSets>
        <name>ContactDynamicChoice</name>
        <dataType>String</dataType>
        <displayField>Functional_Role__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Functional_Role__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Functional_Role__c</valueField>
    </dynamicChoiceSets>
    <label>Adding Contact from Lead</label>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>509</locationX>
        <locationY>77</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Department2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Functional_Role__c</field>
            <value>
                <elementReference>Functional_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Relationship_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>201</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>addContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>61</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Account_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>addContact</name>
        <label>addContact</label>
        <locationX>344</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Related_Acct_Name1</name>
            <choiceReferences>Related_Account_Name2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Related_Account_Name2</defaultSelectedChoiceReference>
            <fieldText>Related Acct Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>A valid email address is required for this field</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Department2</name>
            <choiceReferences>Accounting_Finance_Department</choiceReferences>
            <choiceReferences>Customer_Service_Care_Support</choiceReferences>
            <choiceReferences>Human_Resources</choiceReferences>
            <choiceReferences>IT_Telecommunications</choiceReferences>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>Marketing_PR_Communications</choiceReferences>
            <choiceReferences>Operations_department</choiceReferences>
            <choiceReferences>Other_department</choiceReferences>
            <choiceReferences>Procurement</choiceReferences>
            <choiceReferences>Quality</choiceReferences>
            <choiceReferences>Sales</choiceReferences>
            <choiceReferences>Training</choiceReferences>
            <choiceReferences>WarehouseInventory</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Department</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Functional_Role</name>
            <choiceReferences>Accounting_Finance</choiceReferences>
            <choiceReferences>Accounts_Payable</choiceReferences>
            <choiceReferences>Administration</choiceReferences>
            <choiceReferences>Consultant</choiceReferences>
            <choiceReferences>Coordinator</choiceReferences>
            <choiceReferences>CXO</choiceReferences>
            <choiceReferences>Director</choiceReferences>
            <choiceReferences>Human_Resources_Training</choiceReferences>
            <choiceReferences>IT</choiceReferences>
            <choiceReferences>Manager</choiceReferences>
            <choiceReferences>Operations</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>PGI_Sales</choiceReferences>
            <choiceReferences>President</choiceReferences>
            <choiceReferences>President_CEO</choiceReferences>
            <choiceReferences>Sales_Marketing</choiceReferences>
            <choiceReferences>Specialist</choiceReferences>
            <choiceReferences>Vice_President</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Functional Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship_Type</name>
            <choiceReferences>Decision_Maker</choiceReferences>
            <choiceReferences>Influencer</choiceReferences>
            <choiceReferences>Gatekeeper</choiceReferences>
            <choiceReferences>Champion</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Relationship Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State_Province</name>
            <dataType>String</dataType>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>677</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>AddedContacts</name>
            <fieldText>You successfully added {!FirstName} {!LastName}.  To return to the lead, click Finish.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadContactID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountName_Test</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
